<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>PastePilot</string>
  <key>CFBundleDisplayName</key>
  <string>PastePilot</string>
  <key>CFBundleIdentifier</key>
  <string>local.pastepilot.service</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>PastePilot</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>LSUIElement</key>
  <false/>
  <key>NSServices</key>
  <array>
    <dict>
      <key>NSMenuItem</key>
      <dict>
        <key>default</key>
        <string>Send to PastePilot</string>
      </dict>
      <key>NSMessage</key>
      <string>handlePastePilot</string>
      <key>NSPortName</key>
      <string>PastePilot</string>
      <key>NSSendTypes</key>
      <array>
        <string>public.utf8-plain-text</string>
        <string>NSStringPboardType</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
